// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// .t12{
//     padding: 0px;
// }

.t1{
    font-size: 30px;
    color: rgb(6, 20, 16);
}
.bk-set{
    background-image: url('https://storage.googleapis.com/smiletaiwan-cms-cwg-tw/article/202101/article-6006b2a795382.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}